body {background-color: blanchedalmond;}

h1 {text-align: center;}
h1 {font-size: 500%;}
h1 {color: brown;}

#i1 {width: 80%;}
#i1 {margin-left: 10%;}

h2 {text-align: center;}
h2 {font-size: 300%;}
h2 {color: brown;}

#i2 {width: 40%;}
#i2 {margin-left: 30%;}

p {text-align: center;}
p {font-size: 130%;}

#i3 {width: 40%;}
#i3 {margin-left: 30%;}

#i4 {width: 40%;}
#i4 {margin-left: 30%;}
